===Werner Icking Music Archive (WIMA)===

Website: [https://en.wikipedia.org/wiki/Werner_Icking_Music_Archive Werner Icking Music Archive]

The recent history of the [https://en.wikipedia.org/wiki/Werner_Icking_Music_Archive Werner Icking Music Archive].  Icking and several colleagues developed a music-printing capability that was modeled on the [https://en.wikipedia.org/wiki/TeX TeX] metafont and typesetting system.  He built an online capability for users to share scores they had edited and typeset themselves.  In many cases this included full sets of parts. Some editions were arrangements. MusiTeX (and related dialects) were often traded within the community, but some of the contributions predated the widespread use of the internet.  After Icking's death (2001), his archive was administered by a contributor, Christian Mondrup.  In 2011-12 it was amalgamated with the IMSLP aggregation. Icking offered an important prototype for current score-interchange sites.
